<% if @error_msg %>
  <div class="alert alert-warning alert-dismissible mx-1 mb-0">
    <%= @error_msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= output_action_modal("CancelJob") %>
<%= output_action_modal("DeleteInfo") %>

<div class="row px-3">
  <div class="text-white bg-gradient" style="background:<%= @conf['description_color'] %>;">
    <div class="d-flex justify-content-between align-items-end mb-2">
      <div>
        <%= output_action_badge("CancelJob") %>
        <%= output_action_badge("DeleteInfo") %>
      </div>
      <div>
        <form id="filterForm" onsubmit="ocHistory.applyFilter(); return false;" class="d-flex align-items-center">
          <div class="input-group ms-auto my-3" style="max-width: 350px;">
            <span class="input-group-text">Filter</span>
            <input type="text" class="form-control" aria-label="Filter" name="filter" value="<%= @filter %>" id="_filterInput">
          </div>
        </form>
	<div class="d-flex justify-content-end">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="_historyStatus" id="_historyStatusAll" value="all" <%= 'checked' if @status == 'all' %>>
            <label class="form-check-label" for="_historyStatusAll">All</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="_historyStatus" id="_historyStatusRunning" value="running" <%= 'checked' if @status == 'running' %>>
            <label class="form-check-label" for="_historyStatusRunning">Running</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="_historyStatus" id="_historyStatusQueued" value="queued" <%= 'checked' if @status == 'queued' %>>
            <label class="form-check-label" for="_historyStatusQueued">Queued</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="_historyStatus" id="_historyStatusCompleted" value="completed" <%= 'checked' if @status == 'completed' %>>
            <label class="form-check-label" for="_historyStatusCompleted">Completed</label>
          </div>
          <div class="form-check form-check-inline me-1">
            <input class="form-check-input" type="radio" name="_historyStatus" id="_historyStatusFailed" value="failed" <%= 'checked' if @status == 'failed' %>>
            <label class="form-check-label" for="_historyStatusFailed">Failed</label>
          </div>
        </div>
	      <% if @conf.key?("clusters") && @conf["clusters"].size > 1 %>
          <div class="d-flex justify-content-end mt-1">
	          <% @conf["clusters"].each_key.with_index do |name, index| %>
	          <%   end_margin = index == @conf["clusters"].size - 1 ? "me-1" : "" %>
	  <div class="form-check form-check-inline <%= end_margin %>">
            <input class="form-check-input" type="radio" name="_historyCluster" id="_historyCluster_<%= name %>" value="<%= name %>" <%= 'checked' if @cluster_name == name %>>
            <label class="form-check-label" for="_historyCluster_<%= name %>"><%= name %></label>
	  </div>
	  <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% if @jobs.nil? || @jobs.empty? %>
  <div class="mt-3 ms-2">
    <p>(No Jobs)</p>
  </div>
<% else %>
  <% @jobs.each do |job| %>
    <%= output_job_id_modal(job, @filter) %>
    <%= output_job_script_modal(job, @filter) %>
  <% end %>

  <div class="row px-3 table-responsive-sm">
    <table class="table table-bordered mb-0 text-nowrap table-hover">
      <thead>
        <tr class="table-primary text-center">
          <th><input class="form-check-input" type="checkbox" id="_historySelectAll" value="-1"></th>
          <th class="text-wrap text-break">Job ID</th>
          <th class="text-wrap text-break">Application</th>
          <th class="text-wrap text-break">Script Location</th>
          <th class="text-wrap text-break">Script Name</th>
          <% @history_hash.each_value do |value| %>
          <th class="text-wrap text-break d-none d-lg-table-cell"><%= value %></th>
          <% end %>
          <th class="text-wrap text-break">Status</th>
        </tr>
      </thead>
      <tbody class="text-center" id="_historyTbody">
        <% cached_related_apps = {} %>
        <% @jobs.each do |job| %>
          <tr data-status="<%= job[JOB_STATUS_ID] %>">
            <td class="table-primary">
              <input class="form-check-input" type="checkbox" id="ocJobId-<%= job[JOB_ID] %>" value="-1">
            </td>
            <td class="text-wrap text-break text-end">
              <a href="#" data-bs-toggle="modal" data-bs-target="#_historyJobId<%= job[JOB_ID] %>"><%= output_text(job[JOB_ID], @filter) %></a>
            </td>
            <td class="text-wrap text-break">
	      <a href="<%= File.join(@script_name, job[JOB_DIR_NAME]) %>"><%= output_text(job[JOB_APP_NAME], @filter) %></a>
	      <% directory_path = File.join(@apps_dir, job[JOB_DIR_NAME]) %>
	      <% unless cached_related_apps.key?(directory_path) %>
	      <%   cached_related_apps[directory_path] = output_related_apps_icon(job[JOB_DIR_NAME], create_manifest(directory_path)["related_apps"]) %>
	      <% end %>
              <% cached_related_apps[directory_path].each do |r| %>
	              <%= r %>
              <% end %>
            </td>
            <td class="text-wrap text-break">
              <a target="_blank" href="<%= @my_ood_url %>/pun/sys/dashboard/files/fs<%= job[HEADER_SCRIPT_LOCATION] %>"><%= output_text(job[HEADER_SCRIPT_LOCATION], @filter) %></a>
	      <% unless @login_node.nil? %>
	      <a style="color: black; text-decoration: none; vertical-align: middle;" target="_blank" href="<%= @my_ood_url %>/pun/sys/shell/ssh/<%= @login_node %>/<%= job[HEADER_SCRIPT_LOCATION] %>">
          <i class="bi bi-terminal-fill fs-5"></i>
        </a>
	      <% end %>
            </td>
            <td class="text-wrap text-break">
              <a href="#" data-bs-toggle="modal" data-bs-target="#_historyJobScript<%= job[JOB_ID] %>"><%= output_text(job[HEADER_SCRIPT_NAME], @filter) %></a>
            </td>
            <% @history_hash.each_key do |k| %>
              <td class="text-wrap text-break d-none d-lg-table-cell">
                <% key = HISTORY_KEY_MAP.fetch(k, k) %>
                <%= output_text(job[key], @filter) %>
              </td>
            <% end %>
            <td class="text-wrap text-break"><%= output_status(job[JOB_STATUS_ID]) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
  
<div class="row mt-2 mx-1">
  <div class="col text-start">
    <div>Showing <%= @start_index + 1 %> to <%= @end_index + 1 %> of <%= @jobs_size %> entries</div>
    <div>Show 
      <input type="number" id="_historyRows" value=<%= @rows %> style="width: 80px;" onkeydown="if(event.key === 'Enter') ocHistory.redirectWithRows()" >
      entries
    </div>
  </div>
  <div class="col text-center">
    <%= output_pagination(@current_page, @page_size, @rows) %>
  </div>
  <div class="col text-end"></div>
</div>

<script src="./history.js"></script>
